@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #EAF6FF;
    --black: #161B38;
    --green: #87FF65;
    --blue: #009FFD;
    --purple: #C04CFD;
}

.animation-box{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(var(--purple), var(--black));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: play 1.4s linear infinite;
}
@keyframes animation {
    0% {
        background-image: radial-gradient(var(--purple) 30%, var(--black) 70%);
    }
    50% {
        background-image: radial-gradient(var(--purple) 70%, var(--black) 30% );
    }
    100% {
        background-image: radial-gradient(var(--purple) 30%, var(--black) 70%);
    }
}
.playwrite-gb-s {
    font-family: "Send Flowers", cursive;
    font-weight: 400;
    font-style: normal;
  }
.animation-box h1 {
    font-size: 300px;
    text-align: center;
    color: var(--white);
}
.animation-box > div {
    display: none;
    background-color: var(--purple);
    height: 200px;
    width: 100%;
}
main{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 30px;
}
section{
    display: flex;
    grid-row: 1/3;
    grid-column: 1/2;
    gap: 20px
    ;
}


