@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #f7f0eb;
    --black: #604330;
    --brown: #ad876a;
    --blue: #009FFD;
    --purple: #C04CFD;
}

body {
    background-color: var(--white);
}
header {
    display: flex;
    color: var(--black);
    font-size: 40px;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid var(--brown);
}
.spacer {
    text-align: center;
    width: 500px;
}
.dropdown-menu {
    height: 46px;
    width: fit-content;
    display: flex;
    align-items: center;
}
.dropdown-menu > img {
    height: 40px;
    opacity: 70%;
}
.menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #C04CFD;
    height: 200px;
    width: 400px;
    top: 66px;
}

.dropdown-menu:hover .menu {
    display: block;
}
.playwrite-gb-s {
    font-family: "Send Flowers", cursive;
    font-weight: 400;
    font-style: normal;
}


main{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 30px;
}
section{
    display: flex;
    grid-row: 1/3;
    grid-column: 1/2;
    gap: 20px;
}
