@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #120921;
    --purple: #a930d2;
    --purple2: #4d0e58;
    --orange: #ff7824;
    --orangeL: #ffd382;
}
body {
    background-color: var(--black);
}
h1 {
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 1px 0 8px var(--purple), 0 1px 6px var(--orange), 0 0 2px var(--orangeL), 0 0 1px white;
}
header {
    display: flex;
    background-color: var(--black);
    font-size: 40px;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}
.spacer {
    text-align: center;
    width: 500px;
}
.dropdown-menu {
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
}
.dropdown-menu > img {
    height: 35px;
    filter: invert(100%);
    margin-left: 20px;
}
.menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #C04CFD;
    height: 200px;
    width: 400px;
    top: 66px;
}
.dropdown-menu:hover .menu {
    display: block;
}
.opening {
    background-image: radial-gradient(circle, var(--purple2) 0%, #1c0429 55%,  black 100%);
    height: 780px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.opening > h1 {
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 350px;
    width: 100%;
    text-align: center;
    letter-spacing: 0;
    text-shadow: 10px 0 80px var(--purple), 0 10px 60px var(--orange), 0 0 20px var(--orangeL), 0 0 10px white;
    filter: blur(1px);
}
img.bolge {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 300px;
    filter: invert(100%) drop-shadow(0 0 30px var(--orange));
}
.opening > h1:first-child {
    filter: blur(5px);
}
main{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 30px;
}
section{
    display: flex;
    grid-row: 1/3;
    grid-column: 1/2;
    gap: 20px;
}
.main {
    display: grid;
    background-color: none;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px ;
    grid-template-rows: 410px 400px 100px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
a > div {
    padding: 10px;
    border-radius: 30px;
    height: 400px;
    background-color: var(--black);
    box-shadow: 5px 0 20px var(--purple), 0 5px 15px var(--orange), 0 0 5px var(--orangeL), 0 0 2.5px white;
}
a > div:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.en {
    grid-column: 1/5;
}
.to {
    grid-column: 5/9;
}
.tre {
    grid-column: 9/13;
}
.main > h1 {
    grid-column: 3/11;
    text-align: center;
    font-size: 100px;
    margin-top: 125px;
    font-weight: 500;
}
h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}